body {
    background: #eee;
    margin: 0px;
    padding: 0px;
    ;
}

.body-container {
    width: 1020px;
    background: #eee;
    margin: 0px auto;
}

.wrapper {
    max-width: 1020px;
}

.home-content {
    width: 1020px;
    height: 89px;
    display: flex;
    justify-content: space-between;
    background-color: #2d303a;
}

.singolo {
    color: #f06c64;
}

.bottom1 {
    position: relative;
    z-index: 5;
    width: 1020px;
    height: 6px;
    background-color: #323746;
}

.logo-home {
    display: flex;
    margin-left: 40px;
    font-size: 25px;
    line-height: 86px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.65px;
    text-align: left;
    color: #ffffff;
}

.menu-list {
    text-align: center;
}

.navbar :not(:first-child)::before {
    content: ".";
    padding: 5px;
    color: #494e62;
    position: relative;
    bottom: 2px;
    right: 7px;
    margin-top: 9px;
    font-size: 25px;
}

.navbar .list-middot {
    width: 370px;
    display: flex;
    justify-content: space-between;
    margin: 0px 41px 0px 0px;
}

.navbar .list-middot .menu-list .menu-text {
    font-size: 12px;
    font-family: "Lato";
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    line-height: 100px;
    justify-content: center;
    letter-spacing: -0.2px;
    color: #ffffff;
}

.navbar .list-middot .menu-list .menu-text:hover {
    background: none;
    color: #f06c64;
}

.slider {
    position: relative;
    z-index: 3;
    top: 9px;
    width: 1020px;
    height: 600px;
    background-color: #f06c64;
}

.slider-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 40px 0px 42px;
}

.phone-container {
    width: 800px;
}

button {
    position: relative;
    padding: 0px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #f06c64;
    border: 0px;
}

button:hover {
    background: #fab3b1e8;
}

.phone-vert {
    margin: -1px 0px 0px 1px;
}

.phone-hor {
    margin: 0px 0px 122px 69px;
}

.bottom2 {
    position: relative;
    z-index: 1;
    width: 1020px;
    height: 15px;
    background-color: #ea676b;
}

.services {
    position: relative;
    top: -15px;
}

.footer-container {
    width: 1020px;
    height: 495px;
    background-color: #f2f2f2;
}

.bottom3 {
    position: relative;
    top: -1px;
    z-index: 15;
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
}

.main {
    position: relative;
    top: -15px
}

.love,
.star {
    margin: -1px 0px 0px -2px;
    font-size: 18px;
    line-height: 18px;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    color: #666d89;
}

h2 {
    padding: 68px 0px 0px 40px;
    font-size: 30px;
    line-height: 18px;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.2px;
    color: #666d89;
}

.services-text {
    padding: 27px 0px 0px 40px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    color: #767e9e;
}

.p2 {
    letter-spacing: 0.15px;
    color: #767e9e;
}

.services-title {
    margin: -1px 0px 0px -2px;
    font-size: 18px;
    line-height: 18px;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    color: #666d89;
}

.services-desc {
    margin-top: 10px;
    width: 220px;
    height: 100px;
    font-size: 12px;
    line-height: 21px;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    color: #767e9e;
}

.heart-text {
    letter-spacing: -0.3px;
    color: #767e9e;
}

.icons-1 {
    margin: 49px 40px 0px 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.icons-2 {
    display: flex;
    justify-content: space-between;
    margin: -4px 40px 0px 40px;
    align-items: flex-start;
}

.love {
    margin: -1px 0px 0px 2px;
    letter-spacing: -0.15px;
}

.star {
    margin: -1px 0px 0px 2px;
    letter-spacing: -0.15px;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@2222222222222222222222222222222222222222222222222222222222@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.wrapper {
    max-width: 1020px;
}

.portfolio-container {
    margin-top: -15px;
    width: 1020px;
    height: 864px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.title-logo {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.2px;
}

.logo {
    padding: 69px 0px 0px 40px;
}

.p-text {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin: 27px 0px 0px 40px;
}

.p3 {
    letter-spacing: 0.15px;
}

.navbar2 .portfolio-menu {
    width: 287px;
    display: flex;
    justify-content: space-between;
    margin: -15px 0px 0px 41px;
}

.tag {
    border-radius: 5px;
    border: 1px solid;
    border-color: #767e9e;
    padding: 2px 6px 3px 6px;
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}

.graph {
    letter-spacing: 0px;
}

.all {
    letter-spacing: 0.4px;
}

.art {
    letter-spacing: -0.2px;
}

.tag:hover {
    border-color: white;
    color: white;
}

.images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 20px 40px 0px 40px;
}

.row1 {
    margin-bottom: 20px;
}

.row2 {
    margin-bottom: 20px;
}

.img:nth-child(n + 13) {
    display: none;
}

.about {
    padding: 68px 0px 0px 40px;
}

.about-us {
    width: 1020px;
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.name-text {
    margin: 10px 0px 0px -1px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.name {
    margin: 14px 0px 0px -1px;
    letter-spacing: -0.15px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.description {
    width: 300px;
    height: 175px;
}

.profiles {
    display: flex;
    justify-content: space-between;
    margin: 48px 40px 0px 40px;
}

.photo2 {
    margin-left: -1px;
}

span {
    letter-spacing: 0.13px;
}

.adam {
    letter-spacing: -0.05px;
}

.icons {
    margin: 24px 0px 0px 0px;
    width: 152px;
    display: flex;
    justify-content: space-between;
}

.icon:hover {
    background-color: #ffffff;
    border-radius: 15px;
}

.header-container {
    width: 1020px;
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

footer {
    width: 1020px;
    height: 76px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quote {
    padding: 68px 0px 0px 40px;
}

.quote-text {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.2px;
}

.description2 {
    padding: 27px 0px 0px 40px;
    width: 940px;
    height: 57px;
}

.desc-text {
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

.contact-data {
    margin: 47px 40px 0px 40px;
    display: flex;
    justify-content: space-between;
}

.contact-form {
    max-width: 619px;
}

.form-input {
    margin-bottom: 16px;
    width: 619px;
    height: 36px;
    border-radius: 5px;
    border-style: none;
    background-color: #d6564f;
}

.form-textarea {
    padding: 8px 0px 0px 0px;
    box-sizing: border-box;
    outline: none;
    -moz-appearance: none;
    resize: none;
    width: 619px;
    height: 202px;
    border-radius: 5px;
    border-style: none;
    background-color: #d6564f;
}

.form-button {
    margin-top: 10px;
    width: 60px;
    height: 38px;
    border-radius: 5px;
    border-style: none;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: center;
}

::placeholder {
    position: relative;
    top: -1px;
    padding-left: 14px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.contact-info {
    margin-left: 20px;
}

.contact-info-title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.1px;
}

.contact-info-text {
    margin-top: 10px;
    width: 300px;
    height: 108px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.1px;
}

.contact-text {
    margin: -10px 0px 0px 0px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.contact-link {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}

.contacts {
    display: flex;
    justify-content: flex-start;
}

.column1 {
    width: 23px;
    height: 50px;
    display: grid;
}

.column2 {
    margin-top: 10px;
    display: grid;
}

.location {
    margin: 5px 0px 0px 4px;
}

.telephone {
    margin: 5px 0px 0px 1px;
}

.email {
    margin: 10px 0px 0px 1px;
}

.copyright {
    margin-left: 42px;
    letter-spacing: -0.1px;
    font-size: 12px;
    line-height: 22px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 400;
}

.social-media {
    margin-right: 40px;
    height: 30px;
    width: 152px;
    display: flex;
    justify-content: space-between;
}

.desc-1 {
    letter-spacing: 0.15px;
}